extends layout

append head
	//- add page specific styles by appending to the head
	link(rel="stylesheet" href="/stylesheets/index.css")
	//- add page specific js
	script(src="/javascripts/index.js" type="module" defer)

block content
	h1= title
	if locals.authenticated
		span Welcome #{user.firstName}
		form(action="/users/logout" method="POST")
			button(type="submit") Logout
	else
		span
			a(href="/users/login") Login
			a(href="/users/sign-up") Sign-Up
