doctype html
include utils

html
	head
		block head
			title= title
			link(rel='stylesheet' href='/stylesheets/globalCSS.css')
			script(src="/javascripts/index.js" type="module" defer)
			script(src="/javascripts/apiAuth.js" type="module")
			script(src="/javascripts/apiUpvote.js" type="module")
	body
		button(class="hidden")#login-popup-background
		ul#nav-bar
			li#nav-bar-left
				img#logo(src="/images/extension-hunt-logo.png")
				//- input(type="text")#nav-bar-search
				a(href="/") Home
				span#about-text About
					ul#about-dropdown
						li.about-link: a(href="https://github.com/ntseng") Nathaniel Tseng
						li.about-link: a(href="https://github.com/srvorkap") Srdan Vorkapic
						li.about-link: a(href="https://github.com/Sheeptoaster") Jake Weber
						li.about-link: a(href="https://github.com/Noslepr") Chris Young
				if locals.authenticated
					a(href="/extensions/new") Post an Extension
			if locals.authenticated
				li#nav-bar-right
					span Welcome #{user.firstName}
					- let profileURL = `/profiles/${user.id}`;
					a(href= profileURL) Profile
					form(action="/users/logout" method="POST")
						button(type="submit") Logout
			else
				li#nav-bar-right
					button#demo-sign-in Demo User
					button(id='login-button') Sign In
					a(href="/users/sign-up") Sign-Up
		div(id='login-popup' class="hidden")
			h1 Login
			form(id="login-form")
				input(type='hidden' name='_csrf' value=csrfToken)
				+field('Username or Email', 'username', username, 'form-group', 'form-control')
				div(class="hidden")#username-errors
				+field('Password', 'password', password, 'form-group', 'form-control', 'password')
				div(class="hidden")#password-errors
				div(class='py-4')
					button(id='login-submit') Submit
					button(id='cancel-popup-button') Cancel
			div
				p: a(href='/users/sign-up') Don't have an account? Register Here
block content
