extends layout.pug

include utils.pug

block content
    h1 Login
    form(action='/users/login' method='POST')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'username', username, 'form-group', 'form-control')
        +field('Password', 'password', password, 'form-group', 'form-control', 'password')
        div(class='py-4')
            button(type='submit') Login
            a(href='/') Cancel
    div
        p: a(href='/users/sign-up') Don't have an account? Register Here
