extends layout

include utils.pug

block content
    form(action='/profiles/:id/edit', method='POST')
        input(type='hidden' name='_METHOD' value='PATCH')
        input(type='hidden' name='_csrf' value=csrfToken)
