extends layout.pug

include utils.pug

block content
	h1 Register
	form(action='/users/sign-up' method='POST')
		input(type="hidden" name="_csrf" value=csrfToken)
		+field('Username', 'signupUsername', username, 'form-group', 'form-control')
		+field('First Name', 'signupFirstName', firstName, 'form-group', 'form-control')
		+field('Last Name', 'signupLastName', lastName, 'form-group', 'form-control')
		+field('email', 'signupEmail', email, 'form-group', 'form-control', "email")
		+field('Password', 'signupPassword', password, 'form-group', 'form-control', "password")
		+field('Confirm Password', 'signupConfirmPassword', confirmPassword, 'form-group', 'form-control', "password")
		div
			button(type='submit') Register
			a(href='/') Cancel
	div
		p Already have an account?
			span: a#login-from-signup Login Here
