extends layout.pug

include utils.pug

block content
    h1 Register
    form(action='/users/login' method='POST')
        +field('Username', 'username', username, 'form-group', 'form-control')
        +field('First Name', 'firstName', firstName, 'form-group', 'form-control')
        +field('Last Name', 'lastName', lastName, 'form-group', 'form-control')
        +field('email', 'email', email, 'form-group', 'form-control')
        +field('Password', 'password', password, 'form-group', 'form-control')
        +field('Confirm Password', 'confirmPassword', confirmPassword, 'form-group', 'form-control')
    div(class='py-4')
        button(type='submit' class='btn btn-primary') Register
        a(href='/' class='btn btn-warning ml-2') Cancel
    div
        p: a(href='/user/login') Already have an account? Login Here
