.edit-extension-h2 {
    text-align: center;
    font-size: 3em;
    margin: .5em;
}

.edit-extension-section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 3em;
    box-shadow: .125em .125em .25em .025em rgba(0,0,0,0.8);
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    padding: 1.5em;
}

.edit-extension-form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    line-height: 3em;
    align-items: center;
}

#editName {
    margin: 1em;
}

#editDescription {
    margin: 1em;
}

#editIconURL {
    margin: 1em;
    resize: none;
}

#editSlogan {
    margin: 1em;
    resize: none;
}

.editCategory {
    grid-column: auto;
    margin: .8em .5em;
}

#categoriesCheckboxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.categoryText {
    line-height: 2em;
}

.categoryText:hover {
    background-color: #007acc;
    box-shadow: 1px 1px 5px 5px #007acc;
}

#edit-extension-btn-section {
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: space-evenly;
}

#product-delete-btn {
    background-color: red;
	color: white;
}
