#main-extension-container {
	display: inline-flex;
	justify-items: space-around;
	align-items: center;
	flex-direction: column;
}

#extension-page-header {
	background-color: #232323;
	color: white;
	display: grid;
	justify-content: center;
	width: 100%;
	grid-template-areas:
		"picture title"
		"picture ."
		"picture description";
	grid-template-rows: 5%;
	grid-template-columns: 10%;
}

#extension-name {
	grid-area: title;
}

#slogan {
	grid-area: description;
}

#extension-icon {
	grid-area: picture;
	border-radius: .65em;
	margin: .25em;
	width: 7.5em;
	height: 7.5em;
}

#extension-page-body {
	display: grid;
	grid-template-areas:
		"details buttons"
		"comments . ";
	grid-template-columns: 1.5fr 1fr;
	margin: 0.5% 10%;
}

#extension-details {
	grid-area: details;
}

#extension-img {
	max-width: 1100px;
	max-height: 500px;
	width: 65vw;
	height: 35vh;
    object-fit: cover;
}

#extension-description {
	text-align: left;
}

#extension-actions {
	padding-left: 40px;
	padding-right: 40px;
	min-width: 30%;
}

#extension-btn-container {
	display: flex;
    width: 340px;
}

#upvote-btn-extension {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 130px;
	height: 50px;
	margin: 0 .5em;
}

#edit-btn-extension {
	width: 130px;
	height: 50px;
	border-radius: .35em;
	margin: 0 .5em;
}

.sidebar-container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.sidebar-h2 {
	font-size: 14pt;
    margin-bottom: 20px;
}

.maker-name {
	vertical-align: top;
	margin-left: 4px;
}
.maker-name:hover {
	text-decoration: underline;
}

.maker-img {
	width: 30px;
	border-radius: 15px;
}

#comments-container {
	grid-area: comments;
	background-color: white;
	border: 1px solid grey;
}

#add-comment-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 100%;
    margin: 0px 10px;
}

.form-group {
    width: 80%;
    margin: 0px 20px;
}

#send-comment {
	height: 35px;
	width: 80px;

}

.extension-comment-field {
	width: 100%;
	height: 35px;
	margin: .5em;
	border-radius: 4px;
	border: 1px solid grey;
}

#comment-section {
	background-color: white;
	border-top: 1px solid grey;
}

.comment-li {
	display: grid;
	grid-template-areas:
		"avatar username btn1"
		". content btn2"
		". timestamp .";
	grid-template-columns: 3em 600px auto;
	padding: 1.5em;
}

.comment-avatar-img {
	width: 2em;
	height: 2em;
	border-radius: 2em;
	grid-area: avatar;
}

.comment-username {
	grid-area: username;
	font-weight: bold;
}
.comment-username:hover {
	text-decoration: underline;
}

.comment-content {
	grid-area: content;
}

.comment-timestamp {
	grid-area: timestamp;
	font-size: 10pt;
	color: grey;
}

.comment-btns {
	display: flex;
	justify-content: flex-end;
	margin-top: 1px;
}

.comment-start-edit, .comment-start-delete {
	cursor: pointer;
    padding-left: 24px;
}

.comment-edit-input {
	border: 1px solid black;
	padding: 2px;
	width: 80%;
}

.comment-confirm-edit {
	border-radius: .35em;
    height: 32px;
}

.comment-cancel-action {
    grid-area: btn2;
    height: 32px;
    margin-top: 10px;
}
