/* main-extension-container
    Extension-Card
    extension-page-header
        extension-name
        slogan-
        extension-icon
    Try with Grid
    extension-page-body
        extension-details
            extension-img
            extension-description
        extension-btn-container
            te-btn-extension
            downvote-btn-extension
        comments-container
            create-comment
                add-comment-form
            comment-section
                    comment-li
                        comment-avatar-img
                        comment-username
                        comment-content */

#main-extension-container {
    display: inline-flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
}

#extension-page-header {
    background-color: #232323;
    color: white;
    display: grid;
    justify-content: center;
    width: 100vw;
    grid-template-areas:
    "picture title"
    "picture ."
    "picture description";
    grid-template-rows: 4em;
    grid-template-columns: 10em;
}


#extension-name {
    grid-area: title;
}

#slogan {
    grid-area: description;
}

#extension-icon {
    grid-area: picture;
    border-radius: .65em;
    margin: .25em;
    width: 7.5em;
    height: 7.5em;
}

#extension-page-body {
    display: grid;
    grid-template-areas:
    "details buttons"
    "comments . ";
    grid-template-columns: 2fr 1fr;
    margin: .25em .75em;
}

#extension-details {
    grid-area: details;
}

#extension-img {
    max-width: 1100px;
    max-height: 500px;
    width: 65vw;
    height: 35vh;
}

#extension-description {
    text-align: left;
}

#extension-btn-container {
    grid-area: buttons;
}

#upvote-btn-extension {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #007acc;
    padding: 2% 10%;
    border-radius: .35em;
    margin: 0 .5em;
}

#upvote-btn-extension:hover {
    background-color: #0175c2;
    box-shadow:inset .75px 1.5px 2.5px -1px #000000;
}

#downvote-btn-extension {
    background-color: #007acc;
    padding: 2% 10%;
    border-radius: .35em;
    margin: 0 .5em;
}

#downvote-btn-extension:hover {
    background-color: #0175c2;
    box-shadow:inset .75px 1.5px 2.5px -1px #000000;
}

#comment-container {
    grid-area: comments;
}

#add-comment-form {
    display: flex;
    justify-content: center;
}

.extension-comment-field {
    width: 20em;
    max-width: 30em;
    height: 2em;
    max-height: 3em;
    margin: .5em;
}

#comment-section

.comment-li {
    display: grid;
    grid-template-areas:
    "avatar username"
    ". content";
    grid-template-columns: 3em auto;
    border: 1px solid black;
    padding: .5em;
    background-color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.comment-avatar-img {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    grid-area: avatar;
}

.comment-username {
    grid-area: username;
}

.comment-content {
    grid-area: content;
}
