@import url(index.css);
@import url(reset.css);
@import url(navbar.css);
@import url(extension-page.css);
@import url(home.css);
@import url(userProfile.css);
@import url(signup.css);
@import url(create-extension.css);

html {
    background-color: #f1f1f1;
}

#login-from-signup:hover {
    cursor: pointer;
    text-decoration: underline;
}
