h1 {
    color: #555555;
}

#login-popup {
    border: 1px solid black
}

.hidden {
    visibility: hidden;
}

.cta-button {
	background-color: #007acc;
	color: white;
	border: none;
	border-radius: 4px;
}

.cta-button:disabled {
	opacity: 0.5;
}

#username-errors {
	color: red;
}

#password-errors {
	color: red;
}
