#nav-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	padding: 1em;
}

#nav-bar-left {
	list-style: none;
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#navbar-search {
	height: 40px;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid grey;
}

#publish-button {
	height: 40px;
	width: 160px;
	padding: 10px;
	text-align: center;
}

#dropdown-container {
	display: none;
	position: absolute;
	z-index: 1;
	border: 1px solid grey;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 4px;
	transition: opacity 0.25s ease-out 0s;
}

#user-dropdown {
	display: none;
	position: absolute;
	right: 20px;
	z-index: 1;
	border: 1px solid grey;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 4px;
	transition: opacity 0.25s ease-out 0s;
}

#dropdown-text:hover #dropdown-container, #dropdown-text:hover #user-dropdown {
	display: block;
}

.dropdown-link {
	list-style: none;
	color: black;
	margin: 0.5em;
}

#nav-bar-right {
	list-style: none;
	width: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#login-popup-background {
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: rgba(100, 100, 100, 0.8);
	border: none;
}

#login-popup {
	position: fixed;
	z-index: 3;
	background-color: #f1f1f1;
	padding: 1.5em;
	left: 0;
	top: 0;
	transform: translate(calc(50vw - 50%), calc(50vh - 50%));
	border-radius: 0.5em;
}

.logout-button {
	height: 35px;
	width: 80px;
}

#username {
	margin: 1em;
}

#password {
	margin: 1em;
}

#demo-sign-in {
	padding: 2% 10%;
	margin: 0 .5em;
}

.nav-anchor:hover {
	color: #007acc;
}

#login-submit, #cancel-popup-button {
	padding: 2% 10%;
	margin: 0 .5em;
}

#logo {
	width: 50px;
	height: 50px;
}
