.sign-up-errors-section {
    display: flex;
    flex-direction: column;
    color: red;
    padding: 2em;
    max-width: 35%;
    height: fit-content;
    margin: 0 auto;
    align-items: center;
}

.sign-up-errors {
    display: flex;
}

.sign-up-form-section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 3em;
    max-width: 35%;
    margin: 0 auto;
    background-color: white;
}

.sign-up-form-group {
    padding: .35em;
}

#signupUsername {
    width: 20em;
    display: flex;
}

#signupFirstName {
    width: 20em;
    display: flex;
}

#signupLastName {
    width: 20em;
    display: flex;
}

#signupEmail {
    width: 20em;
    display: flex;
}

#signupPassword {
    width: 20em;
    display: flex;
}

#signupConfirmPassword {
    width: 20em;
    display: flex;
}

#sign-up-submit-section {
    display: flex;
}

#sign-up-submit-btn {
    margin-right: 3em;
}

#login-from-signup {
    margin-left: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#login-from-signup:hover {
    cursor: pointer;
}

#signup-from-login {
    margin-left: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

#signup-from-login:hover {
    cursor: pointer;
}

.auth-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.auth-button:hover {
    cursor: pointer;
}
