.sign-up-errors-section {
    display: flex;
    flex-direction: column;
    color: red;
    /* border: 1px solid black; */
    padding: 2em;
    max-width: 35%;
    height: fit-content;
    margin: 0 auto;
}

.sign-up-errors {
    display: flex;
}

.sign-up-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#signupUsername {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#signupFirstName {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#signupLastName {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#signupEmail {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#signupPassword {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#signupConfirmPassword {
    width: 20em;
    display: flex;
    padding-top: 1em;
}

#sign-up-submit-section {
    display: flex;
    padding-top: 1em;
}

#sign-up-submit-btn {
    margin-right: 3em;
}

#sign-up-cancel-link

.sign-up-link-to-login

#sign-up-link-text

#login-from-signup {
    display: none;
}
